In [1]:
# Q2: Do the following exercise in a Jupyter Notebook
# Load the countries.csv directly via URL import into your panda data frame!
import pandas as pd

# URL of the countries.csv file
url = "https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv"

# Read the CSV file directly from the URL into a pandas DataFrame
df = pd.read_csv(url)

# Set option to display all rows
pd.set_option('display.max_rows', None)

# Display the DataFrame
df

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [2]:
# Display descriptive statistics for the numerical column (count)
df.count(0)

Name          7
Population    7
Area          7
GDP           6
Currency      7
dtype: int64

In [3]:
# Display descriptive statistics for the numerical column (count)
df.count(1)

0    5
1    5
2    5
3    5
4    5
5    5
6    4
dtype: int64

In [4]:
# Display descriptive statistics for the numerical column (mean)
mean_values = df[['Population', 'Area', 'GDP']].mean()

print(mean_values)

Population    8.086839e+07
Area          2.926464e+06
GDP           2.387500e+03
dtype: float64

In [5]:
# Display descriptive statistics for the numerical column (std)
std_values = df[['Population', 'Area', 'GDP']].std()

print(std_values)

Population    6.670195e+07
Area          4.348507e+06
GDP           1.532498e+03
dtype: float64

In [6]:
# Display descriptive statistics for the numerical column (min)
min_values = df[['Population', 'Area', 'GDP']].min()

print(min_values)

Population    23938272.0
Area             36197.0
GDP                744.0
dtype: float64

In [7]:
# Display descriptive statistics for the numerical column (25%)
percentile_25 = df[['Population', 'Area', 'GDP']].quantile(0.25)

print(percentile_25)

Population    32356037.00
Area            329361.50
GDP               1596.25
Name: 0.25, dtype: float64

In [8]:
# Display descriptive statistics for the numerical column (50%)
percentile_50 = df[['Population', 'Area', 'GDP']].quantile(0.5)

print(percentile_50)

Population    60501718.0
Area            377835.0
GDP               1824.0
Name: 0.5, dtype: float64

In [9]:
# Display descriptive statistics for the numerical column (75%)
percentile_75 = df[['Population', 'Area', 'GDP']].quantile(0.75)

print(percentile_75)

Population    104283326.5
Area            4713910.0
GDP                3062.0
Name: 0.75, dtype: float64

In [10]:
# Display descriptive statistics for the numerical column (max)
max_values = df[['Population', 'Area', 'GDP']].max()

print(max_values)

Population    208360000.0
Area            9984670.0
GDP                4938.0
dtype: float64

In [11]:
# Show the last 4 rows of the data frame.
df.tail(4)

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [12]:
# Show all the rows of countries that have the EURO
df.loc[df['Currency'] == 'EUR']

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

In [13]:
# Show only name and Currency in a new data frame
name_currency_df = df.loc[:, ['Name', 'Currency']]

print(name_currency_df)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [14]:
# Show only the rows/countries that have more than 2000 GDP
high_gdp_countries = df.loc[df['GDP'] > 2000]

print(high_gdp_countries)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

In [15]:
# Select all countries where with inhabitants between 50 and 150 Mio
selected_countries = df[(df['Population'] >= 50000000) & (df['Population'] <= 150000000)]

print(selected_countries)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [16]:
# Calculate the GDP average (ignore the missing value)
df['GDP'].mean()

2387.5

In [17]:
# Calculate the GDP average (missing value treated as 0)

# Replace missing values in the 'GDP' column with 0
df['GDP filled'] = df['GDP'].fillna(0)

# Calculate the average GDP, treating missing values as 0
average_gdp = df['GDP filled'].mean()

print("Average GDP (missing values treated as 0):", average_gdp)

Average GDP (missing values treated as 0): 2046.4285714285713

In [18]:
# Calculate the population density (population/area) of all countries and add as new column
df['Population Density'] = df['Population'] / df['Area']

print(df)

        Name  Population     Area     GDP Currency  GDP filled  \
0    Germany    82521653   357385  3466.0      EUR      3466.0
1      Japan   126045000   377835  4938.0      YEN      4938.0
2     Canada    36503097  9984670  1529.0      CAD      1529.0
3      Italy    60501718   301338  1850.0      EUR      1850.0
4   Brazilia   208360000  8515770  1798.0     REAL      1798.0
5     Taiwan    23938272    36197   744.0      NTD       744.0
6  Venezuela    28208977   912050     NaN      VED         0.0

   Population Density
0          230.904075
1          333.597999
2            3.655914
3          200.776928
4           24.467547
5          661.333039
6           30.929200

In [19]:
# Sort by country name alphabetically
sorted_df = df.sort_values(by='Name')

print(sorted_df)

        Name  Population     Area     GDP Currency  GDP filled  \
4   Brazilia   208360000  8515770  1798.0     REAL      1798.0
2     Canada    36503097  9984670  1529.0      CAD      1529.0
0    Germany    82521653   357385  3466.0      EUR      3466.0
3      Italy    60501718   301338  1850.0      EUR      1850.0
1      Japan   126045000   377835  4938.0      YEN      4938.0
5     Taiwan    23938272    36197   744.0      NTD       744.0
6  Venezuela    28208977   912050     NaN      VED         0.0

   Population Density
4           24.467547
2            3.655914
0          230.904075
3          200.776928
1          333.597999
5          661.333039
6           30.929200

In [20]:
# Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
new_df = df.copy()

new_df['Area'] = new_df['Area'].apply(lambda x: 'BIG' if x > 1000000 else 'SMALL')

print(new_df)

        Name  Population   Area     GDP Currency  GDP filled  \
0    Germany    82521653  SMALL  3466.0      EUR      3466.0
1      Japan   126045000  SMALL  4938.0      YEN      4938.0
2     Canada    36503097    BIG  1529.0      CAD      1529.0
3      Italy    60501718  SMALL  1850.0      EUR      1850.0
4   Brazilia   208360000    BIG  1798.0     REAL      1798.0
5     Taiwan    23938272  SMALL   744.0      NTD       744.0
6  Venezuela    28208977  SMALL     NaN      VED         0.0

   Population Density
0          230.904075
1          333.597999
2            3.655914
3          200.776928
4           24.467547
5          661.333039
6           30.929200